<div class="container">
  <h1>Produkt</h1>
  <div>
    Nazwa: {{ product.name }}
  </div>
  <div>
    Kategoria: {{ product.category }}
  </div>
  <div>
    Opis: {{ product.description }}
  </div>
</div>

<br/>
<hr/>

<form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
  <div>
    <label for="name">Name: </label>
    <input 
          [placeholder]="customPlaceholder" 
          type="text" 
          name="name"
          [(ngModel)]="product.name"
    >
  </div>

  <div>
    <label for="category">Kategoria:</label>
    <select [(ngModel)]="product.category" name="category">
      <option [value]="category" 
              *ngFor="let category of categories">
        {{ category }}
      </option>
    </select>
  </div>

  <div>
    <label for="description">Opis:</label>
    <input [(ngModel)]="product.description" type="text" name="description">
  </div>

  <div>
    <pre>
      {{ productForm.value | json }}
    </pre>
  </div>

  <div>
    <button type="submit">Zapisz</button>
    <button type="button" (click)="onReset(productForm)">Reset</button>
  </div>
</form>