<div class="container">
  <h1>Produkt</h1>
  <div>
    Nazwa: {{ product.name }}
  </div>
  <div>
    Kategoria: {{ product.category }}
  </div>
  <div>
    Opis: {{ product.description }}
  </div>
</div>

<br/>
<hr/>

<form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
  <div>
    <label for="name">Name: </label>
    <input 
          [placeholder]="customPlaceholder" 
          type="text" 
          name="name"
          required
          [(ngModel)]="product.name"
          #name="ngModel"
    >
    <div class="error" *ngIf="!name.valid && name.touched">
      Pole wymagane
    </div>
  </div>

  <div>
    <label for="category">Kategoria:</label>
    <select [(ngModel)]="product.category" name="category" #category="ngModel">
      <option [value]="category.id" 
              *ngFor="let category of categories">
        {{ category.name }}
      </option>
    </select>
    <div class="error" *ngIf="!category.valid">
      Pole wymagane
    </div>
  </div>

  <div>
    <label for="description">Opis:</label>
    <input [(ngModel)]="product.description" 
          type="text" 
          name="description" 
          #description="ngModel">
    <div class="error" *ngIf="!description.valid" >
      Pole wymagane
    </div>
  </div>

  <div>
    <pre>
      {{ productForm.valid | json }}
    </pre>
  </div>

  <div>
    <button type="submit" [disabled]="!productForm.valid">Zapisz</button>
    <button type="button" (click)="onReset(productForm)">Reset</button>
  </div>
</form>